{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<main class="container">
		<div class="bg-light p-3">
			<h1 class="text-center mb-5">Votre panier</h1>
		</div>
		{% if items | length > 0 %}
			<table class="table">
				<thead>
					<tr class="fs-5">
						<th>Produit</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr class="fs-5">
							<td>{{ item.product.name }}</td>
							<td>{{ item.product.price }} €</td>
							<td>{{ item.quantity }}</td>
							<td>{{ item.product.price * item.quantity }} €</td>
							<td>
								<a href="{{ path('cart_delete', {'id':item.product.id })}}" class="btn btn-danger">
									<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
										<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
									</svg>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan='3' class="text-end fw-bold">Total :</td>
						<td>{{ total }} €</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		{% else %}
			<p>Surprise, c'est vide !</p>
		{% endif %}
	</main>
{% endblock %}
